

<footer class="site-footer" role="contentinfo" aria-label="Rodapé Multiview">
  <div class="strip-dark"></div>
  <div class="strip-mid"></div>
  <div class="footer-body container">
    <div class="footer-left">
      <img class="slogan-img" src="{% static 'core/img/slogan.png' %}" alt="Cuidamos das suas imagens, para você focar nos seus negócios.">
    </div>
    <div class="footer-center">
      <strong>Plataforma de Processamento de Imagens Multiview</strong><br>
      v0.1.0 • suporte.multiview@sinergicaagro.com.br<br>
      Todos os Direitos Reservados
    </div>
    <div class="footer-right">
      <img class="mv-footer" src="{% static 'core/img/Logo-multiview.png' %}" alt="Multiview">
    </div>
  </div>
</footer>
